{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}查询{% endblock %}


{% block page_content %}

    <div class="page-header">
        <h3>僵尸企业查询</h3>
    </div>



    {#    <label>#}
    {#        <select name="select_input" onchange="test()" class="selectpicker">#}
    {#            {% for key, val in options %}#}
    {#                <option value= {{ key }}>{{ val }}</option>#}
    {#            {% endfor %}#}
    {#        </select>#}
    {#    </label>#}


    <label>
        <!-- 样式1 -->
        <select class="form-control" onchange="test()" id="my_select">
            <option>单个输入查询</option>
            <option>上传文件查询</option>
        </select>
    </label>

    <br><br>

    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}

    <div id="text_form">
        {{ wtf.quick_form(text_form) }}
    </div>

    <div id="file_form" style="display: none">
        {{ wtf.quick_form(file_form) }}
    </div>



    <script>
        function test() {
            let sel = document.getElementById("my_select");
            let te = document.getElementById("text_form");
            let fi = document.getElementById('file_form');
            console.log(sel.selectedIndex)
            if (sel.selectedIndex === 0) {
                te.style.display = "inline";
                fi.style.display = "none";
            } else {
                te.style.display = "none";
                fi.style.display = "inline";
            }
        }
    </script>


{% endblock %}